<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
   <title>Auth</title>
</head>
<body>
   <div id='root'>
      <div id='login-style'>
         <h2>LOGIN</h2>
         <form action = "http://localhost:5000/login" method = "POST" class="form-style">
            <input type="text" name='username' placeholder="USERNAME">
            <br>
            <input type="password" name='password' placeholder="PASSWORD">
            <br>
            <br>
            <br>
            <button type="submit">submit</button>
         </form>
      </div>
      <div id='register-style'>
         <h2>REGISTER</h2>
         <form action = "http://localhost:5000/signup" method = "POST" class="form-style">
            <input type="text" name='username' placeholder="USERNAME">
            <br>
            <input type="password" name='password' placeholder="PASSWORD">
            <br>
            <input type="password" name='repeat' placeholder="REPEAT PASSWORD">
            <br>
            <button type="submit">submit</button>
         </form>
      </div>
   </div>
</body>
</html>